@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){
    #sub_navbar{
        display: flex;
    }
    #main_navbar{
        display: none;
    }   

    body{
        font-size: 0.8em;
        
    }

    article .title{
        padding: 1em;
        text-align: left;
    }
    article .quote{
        text-align: left;
    }

    
  
    #countries_select_section{
        height: 200vh;
    }
}
@media screen and (max-width: 375px){
    #sub_navbar{
        display: flex;
    }
    #main_navbar{
        display: none;
    }

   
    body{
        font-size: 0.8em;
    }

    article .title{
        padding: 1em;
        text-align: left;
    }
    article .quote{
        text-align: left;
    }

    #countries_select_section{
        height: 200vh;
    }

}