@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,600;1,600;1,700&family=Montserrat:wght@500&family=Oswald:wght@300;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Roboto:wght@300;400;500;700&family=Signika+Negative:wght@500;600&display=swap');


.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: auto;
    background-color: #ffffff;
    
    height: auto; 
    scroll-behavior: smooth;
    text-justify: inter-ideograph;
    
}
a{
    text-decoration: none;
    color: black;
}
ul, li{
    list-style-type: none;
  
}
p{
    line-height: 1.5em;
}
.main.container{
    height: 100vh;
    width: 100%;
    min-width: 300px;
   
}
nav{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    /* opacity: 0.9; */
    color: #ffffff;
    z-index: 300;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 1.2em;
    font-weight: 500;
}


.sticky{
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    color: black;
    -webkit-animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
    animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1); */

}

nav .navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1em;
    padding: 1em;
    height: auto;
}

nav .navItem .anchor{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

nav .navItem .anchor:after {
    display: block;
    content: '';
    border-bottom: solid 2px #968878;  
    /* padding-bottom: px; */
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
   
}
nav .navItem .anchor:hover:after { 
    transform: scaleX(1); 
}

nav .navItem .anchor .main_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}

/* nav .navItem .anchor .main_menu:hover{
    
} */

.drop_down.icon{
    padding-top: 5px;
    color: white;
}

nav .navItem .anchor #sub_menu_1, #sub_menu_2{
    display: none;  
    position: absolute;
    width: 200px;
    padding: 30px;
    margin: 20px 0;
    background-color: #f9f6f1;
    color: black;
    box-shadow: 3px 3px 5px #bbbbbd;
    cursor: pointer;

}

/* sub menu items */
nav .navItem .anchor .choices li.country_name, li.city_name{ 
    margin-bottom: 10px;  
    color: black;
}

nav .navItem .anchor .choices li.country_name:hover, li.city_name:hover, li.city_name a:hover{
    color: #968878;
}
nav .navItem .anchor .choices .city{
    display: none;
}


/* secondary navbar */
#sub_navbar{
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    /* margin-right: 3em; */
    height: auto;
    color: black;
    width: 100%;
   
}



#sub_navbar .secondary_menu{
    display: none;
    width: 100%;
    min-width: 300px;
    height: 100vh;
    z-index: 900;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f9f6f1;
    overflow: hidden;
    

}

.fixed_secondary_menu{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
}

#sub_navbar .secondary_menu .close_icon{
    color: black;
    font-weight: 600;
    padding: 2em;
    padding-bottom: 1em;
}

#sub_navbar .secondary_menu .sub_menu_items{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 2em;

    padding: 2em;
    font-size: 1.5em;
    font-weight: 700;



}

#sub_navbar .secondary_menu .sub_menu_items .item .select_section{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;

  
}

#sub_navbar .secondary_menu .sub_menu_items .item{
    padding-bottom: 0.7em;
    border-bottom: 1px soild #ececec;
   
}
#sub_navbar .secondary_menu .sub_menu_items .item .sub_item_section{
    display: none;
}


#sub_navbar .secondary_menu .sub_menu_items .item .sub_item_section .sub_choices{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    padding: 1.8em;
    padding-left: 1.3em;
    font-size: 0.9em;
    font-weight: 300;
    /* background-color: #ececec; */

   
}


#sub_navbar .secondary_menu .sub_menu_items .item .drop_down.icon{
    color: black;
    padding-left: 0.5em;
}


/* page container */
.sub.container{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
   
}
.sub.container.home {
   width: 100%;
   min-width: 200px;
   height: 70vh;
   background-image: url('images/2019-07-04-10-51-47.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 5rem;

   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
   display: grid;
   grid-template-rows: 70px 1fr;
}

.sub.container .home.title{
    text-align: left;
    color: rgb(255, 254, 254);
    font-size: 3em;
    font-weight: bold;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
   
}
.sub.container.cities{
    height:50vh;
    /* padding-top: 5em; */
    margin-bottom: 5em;
}
@keyframes FadeIn {
    from { top: 100%; } 
    to {top: 0; }
}
.sub.container.cities .quote, span.wrap{
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    color: black;
    font-family: 'Signika Negative', sans-serif;
    
}
.sub.container.cities .quote .shortIntro{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}



.sub.container .scroll_area{
    display: flex;
    flex: 1;
    overflow: auto;
}
.sub.container .allBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px 100px;

    min-height: -webkit-min-content;
    height: 600px;
   
}
.sub.container .allBoxes .box{
    /* width: 20em;
    height: 20em; */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap:10px;
    object-fit: cover;
    background-color: #f9f6f1;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px 10px 50px 10px;

   
}



.sub.container .allBoxes .box .photo img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}




.sub.container .allBoxes .box:hover{
    /* transform: scale(1.01); */
    transition: .5s;
    /* padding-bottom: 20px; */
    box-shadow: 10px 10px #2e2f42;
    /* filter:contrast(50%); */
   
}
.sub.container .allBoxes .box img:hover{
    animation: filter-animation 3s infinite;

}

@keyframes filter-animation {
    0% {
      filter: grayscale(4) saturate(1);
    }
  
    50% {
      filter: grayscale(2) saturate(8);
    }
  
    100% {
      filter: grayscale(0) saturate(1);
    }
  }
.sub.container .allBoxes .box .name{
    font-family: 'Signika Negative', sans-serif;;
    font-weight: 600;
    font-size: 1.8em;
    color: #2e2f42;
    text-align: left;
    padding-left: 10px;
   
}
.sub.container .allBoxes .box .name span{
   
    height: 1em;
}

.sub.container.aboutME {
    /* background-color: #968878; */
    text-align: center;
    font-size: 1.5em;
    height: 60vh; 
}

.sub.container.aboutMe .title{
    position: relative;
    top: -1000px;
}



/* article */
#penang_banner{
    background-image: url("images/2019-07-04-11-44-30.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    max-height: 70vh;
    color: #42342e;
    overflow: hidden;
}
#sabah_banner{
    background-image: url("images/IMAG3471.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    background-position: 25% 75%;
    max-height: 70vh;
    color: #42342e;
    overflow: hidden;
}
#melaka_banner{
    background-image: url("images/2019-07-05-23-09-14.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    background-position: 30%;
    max-height: 70vh;
    color: #42342e;
    overflow: hidden;
}
.the_article{
    min-width: 300px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

article{
    line-height: 2.5em;
    
}
article .title{
    font-size: 3em;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.5em;
}

article .quote{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
article .content{
    margin-bottom: 3em;
    text-align: left;
    padding: 1em 3em;
}
article .content .sub_title{
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5em;
    text-align: left;
    
}
article .content .paragraph{
    font-size: 1.4em;
    margin: 0.3em auto;
    margin-bottom: 3em;
    text-justify:newspaper;
    line-height: 2em;
    
}
article .content .image{
    text-align: center;
}

article .content .image img{
    /* margin: 0 auto; */
    object-fit: contain;
    width: 700px;
    height: auto;
    min-width: 200px;
    border-radius: 5px;
}

article .content .image.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* min-width: 1000px; */
    min-width: 300px;
    min-height:100%;
    text-align: center;
    /* padding-top: 1em; */
    padding: 0;
    width: 100%;
}


.image.flex > li {
    height: 300px;
    cursor: pointer;
    position: relative;
}

.image.flex li img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
   
  }

.footer.sub.container{
      background-color: #332c2c;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 5em;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
}

.footer .flex{
    width: 300px;
    height: 300px;
    font-size: 1.3em;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer .flex img{
    width: 270px;
    height: 250px;
}

.footer .flex ul, li{
    margin-bottom: 20px;
    padding-top: 10px;
    cursor: pointer;
}


#us_states{
   
}









/* scroll boxes try */
.sub.container .scroll_area .allBoxes .box{
   
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 20px 20px 60px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    padding: 50px;
    box-shadow: 5px 5px 5px #9c9c9c;

}

.sub.container .scroll_area .allBoxes .name{
    font-size: 2em;
    color: white;
    font-weight: bold;
    
}
/* scroll boxes try */


/* home page css */
.all_countries.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
    height: 100vh;
}

.countries.flex{
    width: 300px;
    height: 300px;
   
    
    display: flex;
    flex-direction: column;
    font-size: 2em;
    color: #f9f6f1;
    font-weight: 700;
}

.countries.flex:hover{
    transform: scale(1.1);
    transition: .5s;
    border-radius: 10px;
    /* filter: brightness(70%); */
    color: white;
}

.countries.flex:first-child{
    background-image: url("images/2019-06-30-09-25-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.countries.flex:nth-child(2){
    background-image: url("images/2019-07-02-17-03-41.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.countries.flex:nth-child(3){
    background-image: url("images/2019-07-03-11-05-04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.countries.flex:nth-child(4){
    background-image: url("images/2019-07-04-11-44-30.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.countries.flex .countries_label{
   display: flex;
   justify-content: center;
   align-items: center;

}


.about_us{
    display: flex;
    flex-direction: column;
    gap: 3em;

    background-color: #968878;
    color: black;
    
    padding: 3em;
}
.about_us .title{
    font-size: 3em;
    
}

.about_us .profile{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* gap: 3em; */
    width: 100%;
    min-width: 300px;
    height: auto;

}
#even .photo{
    grid-column-start: 1;
    grid-column-end: 1;
}
#even .info{
    grid-column-start: 2;
    grid-column-end: 5;
}

#odd .info{
    grid-column-start: 3;
    grid-column-end: 6;
}
#odd .photo{
    grid-column-start: 6;
    grid-column-end: 7;
}

.about_us .profile .photo{
    
    background-color: #f9f6f1;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us .profile .photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    ;
    
}

.about_us .profile .info{
   
    /* padding-bottom: 100px; */
    font-size: 1.3em;
    font-weight: 300;
    padding-top: 30px;
    
}

.about_us .profile .info .name{
    font-weight: 500;
}

