@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@300&family=Montserrat:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Roboto:wght@300;400;500;700&display=swap');
body{
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    font-weight: 700;
    margin: auto;
    background-color: #ffffff;
    /* overflow: hidden; */
    height: auto; 
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
}
.main.container{
    height: 100vh;

}
nav{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    /* opacity: 0.9; */
    color: #ffffff;
    z-index: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.sticky{
    position: fixed;
    top:0;
    z-index: 500;
    background-color: rgb(252, 252, 252);
    /* box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1); */
    -webkit-animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
    animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1); */

}

nav .navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1em;
    padding: 1em;
}


.sub.container{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
   
}
.sub.container.home {
   width: 100%;
   height: 70vh;
   background-image: url('images/2019-07-04-10-51-47.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 5rem;
   display: flex;
   flex-direction: column;
  
}
.sub.container .home.title{
    text-align: center;
    color: rgb(221, 221, 221);
    font-size: 3em;
    position: absolute;
    top: 6em;
    left: 13em;
    z-index: 100;
   
}

.sub.container.cities .quote, span.wrap{
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: black;
}
.sub.container.cities .quote .shortIntro{
    font-family: 'Indie Flower', cursive;
}



.sub.container .scroll_area{
    display: flex;
    flex: 1;
    overflow: auto;
}
.sub.container .allBoxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px 100px;

    min-height: -webkit-min-content;
    height: 600px;
   
}
.sub.container .allBoxes .box{
    width: 25em;
    height: 25em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.sub.container .allBoxes .box:hover{
    transform: scale(1.01);
    transition: .5s;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px #d1c2c2;
    filter: brightness(70%);
}
.sub.container .allBoxes .box:first-child{
    background-image:url("images/2019-07-04-11-44-30.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.sub.sub.container .allBoxes .box:nth-child(2){
    background-image: url("images/IMAG3471.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sub.container .allBoxes .box:nth-child(3){
    background-image: url("images/20190705_223514.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sub.container .allBoxes .box .name{
    position: relative;
    top: 15em;
    /* left: .2em; */
    font-size: 1.8em;
    color: black;
    text-align: center;
   
}
.sub.container .allBoxes .box .name span{
   
    height: 1em;
}

.sub.container.aboutME {
    background-color: #d4c1c1;
    text-align: center;
    font-size: 1.5em;
    height: 60vh; 
}

.sub.container.aboutMe .title{
    position: relative;
    top: -1000px;
   
    
}
/* scroll boxes try */
.sub.container .scroll_area .allBoxes .box{
   
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 20px 20px 60px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    padding: 50px;
    box-shadow: 5px 5px 5px #9c9c9c;

}

.sub.container .scroll_area .allBoxes .name{
    font-size: 2em;
    color: white;
    font-weight: bold;
    
}
/* scroll boxes try */